<br>
<h2 class="text-center mt-5"style="font-family:'Vollkorn', serif">Start a Granny Story</h2>
<div class="row justify-content-center">
  <div class="col-lg-4">

    <%= simple_form_for(granny) do |f| %>

    <div class="form-inputs">
      <%= f.input :name %>
    </div>

    <div class="form-inputs">
      <%= f.input :address %>
    </div>

    <div class="form-inputs">
      <%= f.input :birth_date, as: :date, html5: true %>
    </div>

    <div class="form-inputs">
      <%= f.input :price %>
    </div>

    <!-- Add selec2 for passions -->
    <%= f.association :passions,
                collection: Passion.order('name ASC'),
                input_html: {class: "select2", multiple: "true"} %>
    <div class="form-actions">
      <%= f.button :submit, :class => "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

