<div class="block1">
	<div class="description">
    <nav class='d-flex align-items-center mt-4'>
    <%= cl_image_tag @granny.photo.key, class: "avatar-large"%>
		<h4><%= @granny.name.capitalize %> <%= ((Date.today - @granny.birth_date) / 365).to_i %> ans </h4>
  </nav>
<br>

		<!-- iterate through @granny.passions -->
		<h3> Her hobbies </h3>

		<% @granny.passions.each do |passion| %>
		<p><%= passion.name %></p>
		<% end %>
		<div>
			<br>
			<div>
				<h3> Where can I find her ? </h3>
				<p>Address : <%= @granny.address %></p>
				<br>
				Price : <%= @granny.price %>€/h
				Owner : <%= link_to @granny.user.user_alias, user_path(@granny.user) %> <br>
			</div>
			<hr>

			<div class="link">
				<% if @granny.user == current_user %>
				<%= link_to "Kill #{@granny.name}",
                granny_path(@granny),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "delete-button" %>
				<%= link_to "Edit", edit_granny_path(@granny) %>
				<% end %> <br>

				<%= link_to grannies_path do %>
				<i class=“fa fa-history”></i> Back to Grannies

				<% end %>
			</div>
		</div>

	</div>
	<div class="form">
		<%= render "/bookings/form", booking: @booking %>
	</div>
</div>




