<h2><%= @granny.name %></h2>
<hr>
Address : <%= @granny.address %> <br>
Age : <%= ((Date.today - @granny.birth_date) / 365).to_i %> <br>
Price : <%= @granny.price %>€/h <br>
<hr>
<h3>Her passions</h3>
<!-- iterate through @granny.passions -->


<div>
</div>
  <%= render '/bookings/form', booking: @booking %>
</div>
<% if @granny.user == current_user %>
<%= link_to "Delete a Granny",
            granny_path(@granny),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: "delete-button" %>
      <%end %>
      </div>
 <% if @granny.user == current_user %>
<%= link_to 'Edit', edit_granny_path(@granny) %>
<%end %>
<hr>
<%= link_to grannies_path do %>
  <i class=“fa fa-history”></i> Back to list
<% end %>
