
<div class=row>
  <%= cl_image_tag @granny.photo.key, class: "avatar", crop: :fill %>
<h2><%= @granny.name %></h2>
</div>
<hr>
Address : <%= @granny.address %> <br>
Age : <%= ((Date.today - @granny.birth_date) / 365).to_i %> <br>
Price : <%= @granny.price %>€/h <br>
Owner : <%= @granny.user %> <br>
<hr>
<h3>Her passions</h3>
<!-- iterate through @granny.passions -->
<% @granny.passions.each do |passion| %>
  <p><%= passion.name %></p>
<% end %>


<% if @granny.user == current_user %>
  <%= link_to "Kill #{@granny.name}",
            granny_path(@granny),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: "delete-button" %>
  <br>
  <%= link_to 'Edit', edit_granny_path(@granny) %>
<%end %>

<hr>
<%= link_to grannies_path do %>
  <i class=“fa fa-history”></i> Back to list
<% end %>

<%= render '/bookings/form', booking: @booking %>
