
<<<<<<< HEAD
 <h4 class="text-center mt-5">Créer un compte Granny Story</h4>
=======

 <h2 class="text-center mt-5"style="font-family:'Vollkorn', serif">Créer un compte GrannyStory</h2>
>>>>>>> master
 <div class="row justify-content-center">
  <div class="col-lg-4">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :user_alias, label: 'Name', required: true, placeholder: "Create your username" %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "SIGN UP", :class => "btn btn-success btn-lg btn-block btn-login" %>

      <% end %>
     </div>
  <%= render "devise/shared/links" %>

  </div>
</div>

<br>
<br>

